<launch>
    <arg name="map_id" default="1"/>
    <arg name="visualize" default="false"/>

    <node pkg="coverage_planning" type="procmap.py" name="procmap" clear_params="true" output="screen">
        <param name="map" value="$(find coverage_planning)/maps/map$(arg map_id).yaml"/>
        <param name="visualize" value="$(arg visualize)"/>
        <param name="cardinality_gain" value="15"/>
        <param name="time_gain" value="1"/>
    </node>
</launch>
